p{
    text-align: center;
    color:aqua;
    font-size: 60px;
}

bottom{
    text-align: center;
    color:aquamarine;
    font-size: 40px;
}

touch{
    text-align: center;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 130px;
    height: 60px;
    font-style: Arial;
}